<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='bootstrap/bootstrap.css')}}" rel="stylesheet">

    <title>Hotel Management System</title>
    {% endblock %}
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            /*height: 40px;*/
        }
    </style>
</head>
<body>
    <nav class = "navbar navbar-expand-lg bg-dark navbar-dark">

          <div class="navbar-brand me-auto">
            <a class="navbar-brand" href="/"> HMS </a>
            {% if session.email %}
                <a class="navbar-brand me-auto" href="/history"> Bookings </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            {% if session.type == "Staff" %}
              <a class="navbar-brand" href="/rooms"> Rooms </a>
            {% endif %}  
            {% if session.type == "Staff" %}
              <a class="navbar-brand" href="/stats"> Stats </a>
            {% endif %}  
          </div>
        
      {% if session.email %}
        <a class="navbar-brand ms-auto" href="/profile"> Profile </a>
        <a class="navbar-brand" href="/logout"> Logout </a>
      {% else %}
        
          <a class="navbar-brand ms-auto" href="/login"> Login </a>
          <a class="navbar-brand" href="/register"> Register </a>
      {% endif %}
    </nav>
    <script src="{{url_for('static', filename='chart.js')}}"></script>
    <div id="body">{% block content %}{% endblock %}</div>
    <br>
    <br>
    <div class ="footer" id="footer" style="text-align: center;">
      {% block footer %}
      <footer class="text-center text-lg-start bg-light text-muted">
      &copy; Copyright 2022 by you</a>.
    </footer>
      {% endblock %}
      <script src="{{url_for('static', filename='bootstrap/bootstrap.js')}}"></script>
</body>
</html>