{% extends 'base.html' %}
{% block content %}
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='img/hotel1.jpeg')}}" alt="hotel1" class="d-block w-100" height="300px" width="150px">
      <div class="carousel-caption">
	    <h3>Hotel Management System</h3>
	    <p>Book the best hotel rooms out there with a click of a mouse!!</p>
	  </div>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='img/hotel2.jpeg')}}" alt="hotel2" class="d-block w-100"  height="300px" width="300px">
      <div class="carousel-caption">
	    <h3>Hotel Management System</h3>
	    <p>Book the best hotel rooms out there with a click of a mouse!!</p>
	  </div>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='img/hotel3.jpeg')}}" alt="hotel3" class="d-block w-100"  height="300px" width="300px">
      <div class="carousel-caption">
	    <h3>Hotel Management System</h3>
	    <p>Book the best hotel rooms out there with a click of a mouse!!</p>
	  </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
    <div class="container">
      {% if not user %}
            <h2 style="text-align: center;">Welcome to HMS!</h2>
      {% endif %}
      <br>
      <h4>Please Select Rooms to continue...</h4>
      <div id="messages">
        {% if message %}
        <br />
        {% if color == "green" %}
            <div class="alert alert-success" style="color:{{ color }}">{{ message }}</div>
        {% else %}
            <div class="alert alert-danger" style="color:{{ color }}">{{ message }}</div>
        {% endif %}
      {% endif %}
      </div>
      <span style="display: none;" id="usertype">{{ session['type'] }}</span>
      <form action="/" method="get">
        <div class="row">
          <div class="col-5">
            <label class = "form-label" for="start_date"><b>Start Date</b></label>
            <input class ="form-control" type="date" placeholder="Enter Start Date" name="start_date" id="start_date" value="{{ start_date }}" required>    
          </div>
          <div class="col-5">
            <label class = "form-label" for="end_date"><b>End Date</b></label>
            <input class ="form-control" type="date" placeholder="Enter End Date" name="end_date" id="end_date" value="{{ end_date }}" required>    
          </div>
          <div class="col-1">
            <label style="font-size: 21px;visibility: hidden;">temp</label>
            <button class ="btn btn-primary" type="submit" class="search">Search</button>
          </div>
        </div>
      </form>

      {% if not rooms %}
        <div style="text-align: center;font-size:larger;margin-top: 4em;">
          Please Search with-in Date Range to display rooms
        </div>
      {% else %}
        <div style="margin-top: 3em;">
          <div class="row">
            <div class="col">
              <h5>Available Rooms</h5>
            </div>
            <div class="col">
                {% if user %}
                <button class="btn btn-warning" onclick="bookRoom(event)" style="float: right;color: white;">Book Rooms <span id="roomcount"></span></button>
                {% endif %}
            </div>
          </div>
          <br>
          <table class="table table-striped table-hover" id="roomstable">
            <thead>
              <tr>
                <th>Room No.</th>
                <th>Capacity</th>
                <th>Cost (/ day)</th>
                {% if user %}
                  <th>Book</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for room in rooms %}
                <tr>
                  <td id="roomNo-{{ room[1] }}">{{ room[1] }}</td>
                  <td id="roomCap-{{ room[1] }}">{{ room[3] }}</td>
                  <td id="roomCost-{{ room[1] }}">${{ room[4] }}</td>
                  {% if user %}
                    <td><button class="btn room-add btn-primary" id="btn-{{ room[1] }}" onclick="showRemove(event)" style="padding-top: 1px; padding-bottom: 1px;">+</button></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>

    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="paymentModalLabel">Book Rooms</h5>
            <button type="button" class="close" style="background-color: white;border: 0px;" onclick="hideModal(event)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <label class = "form-label" ><b>Rooms Selected:</b></label>
              <table class="table table-bordered">
                <thead>
                  <th>Room No.</th>
                  <th>Capacity</th>
                </thead>
                <tbody id="modaltable"></tbody>
              </table>
              <label class = "form-label" ><b>Total Cost:</b></label>
              <input class ="form-control" type="text" name="cost" id="cost" value="" disabled />
              <div id="bookinguserdata">
                <label class = "form-label" ><b>Booking User:</b></label>
                <input class ="form-control" type="text" name="username" id="username" value="" required />
                <label class = "form-label" ><b>Booking User Email:</b></label>
                <input class ="form-control" type="email" name="email" id="email" value="" required />
                <label class = "form-label" ><b>Street:</b></label>
                <input class ="form-control" type="text" name="street" id="street" value="" required /> 
                <label class = "form-label" ><b>City:</b></label>
                <input class ="form-control" type="text" name="city" id="city" value="" required /> 
                <label class = "form-label" ><b>Pincode:</b></label>
                <input class ="form-control" type="text" name="pincode" id="pincode" value="" required /> 
                <label class = "form-label" ><b>DOB:</b></label>
                <input class ="form-control" type="date" name="dob" id="dob" value="" required /> 
              </div>
              <label class = "form-label" for="payment"><b>Payment Method:</b></label>
              <select class="form-select" aria-label="Default select example" name="payment" id="payment">
                <option selected value="CREDIT">Credit Card</option>
                <option value="DEBIT">Debit Card</option>
                <option value="UPI">UPI</option>
                <option value="MOBILE WALLET">Mobile Wallets</option>
                <option value="CASH">Cash</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="paybook">Book Room</button>
          </div>
        </div>
      </div>
    </div>
    <script>
        var tCount = 0;
        let modal, _ = document.getElementById.bind(document);
        function showRemove(event) {
          if(_(event.target.id).innerText == "+") {
            _(event.target.id).classList.remove("btn-primary");
            _(event.target.id).classList.remove("room-add");
            _(event.target.id).classList.add("btn-danger");
            _(event.target.id).classList.add("room-rem");
            _(event.target.id).innerText = "-";
            tCount += 1;

          } else {
            _(event.target.id).classList.remove("btn-danger");
            _(event.target.id).classList.remove("room-rem");
            _(event.target.id).classList.add("btn-primary");
            _(event.target.id).classList.add("room-add");
            _(event.target.id).innerText = "+";
            tCount -= 1;
          }
          if(tCount == 0) {
            _("roomcount").innerHTML = "";
          } else {
            _("roomcount").innerHTML = "( " + tCount + " )";
          }
        }

        function bookRoom(event) {
          if(tCount == 0) {
            alert("No rooms added to book!");
          } else {
              showClientData();
              if(_("usertype").innerHTML.toLowerCase() != "client") {
                _("bookinguserdata").style.display = "block";
              } else {
                _("bookinguserdata").style.display = "none";
              }
              modal = new bootstrap.Modal(_('paymentModal'), {});
              modal.show();
          }
        }

        function showClientData() {
          let removes = document.getElementsByClassName("room-rem");
          let content = "", cost = 0;
          for(let remove of removes) {
            let rv = remove.id.split("-")[1];
            content += "<tr><td>" + _("roomNo-" + rv).innerHTML + "</td><td>";
            content += _("roomCap-" + rv).innerHTML + "</td></tr>";
            cost += datediff(_("start_date").valueAsDate, _("end_date").valueAsDate) * parseInt(_("roomCost-" + rv).innerHTML.replace("$", ""));
          }
          _("modaltable").innerHTML = content;
          _("cost").value = "$" + cost;
        }

        function hideModal(event) {
          modal.hide();
        }

        function datediff(first, second) {   
            return Math.round((second - first) / (1000 * 60 * 60 * 24));
        }

        _("paybook").addEventListener("click", function() {
            let data = {
              "room": Array.from(_("modaltable").childNodes).map(x => x.innerText.split("\t")[0]),
              "cost": _("cost").value,
              "payment_type": _("payment").value,
              "start_date": _("start_date").value,
              "end_date": _("end_date").value
            };

            if(_("usertype").innerHTML.toLowerCase() != "client") {
              data['user'] = _("username").value,
              data['email'] = _("email").value,
              data['street'] = _("street").value,
              data['city'] = _("city").value,
              data['pincode'] = _("pincode").value,
              data['dob'] = _("dob").value
            }

            fetch("/book", {
              body: JSON.stringify(data),
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              }
            }).then( resp => resp.json())
            .then(data => {
              hideModal();
              if(data.error == 0) {
                _("messages").innerHTML = '<div class="alert alert-success">' + data.message + '</div>';
              } else {
                _("messages").innerHTML = '<div class="alert alert-danger">' + data.message + '</div>';
              }
            })
        });
    </script>
{% endblock %}
