{% extends "base.html" %}
{% block content %}

<form action="/profile" method="post">
    <div class="container">
        <h1>View / Update Profile</h1>
        <br>
        <br>
        {% if message %}
            <br />
            {% if color == "green" %}
                <div class="alert alert-success" style="color:{{ color }}">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger" style="color:{{ color }}">{{ message }}</div>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col">
                <label for="username"><b>Username</b></label>
                <input class ="form-control" type="text" placeholder="Enter Username" name="username" id="username" value="{{ data[1] }}" required>
        
                <label for="email"><b>Email</b></label>
                <input class ="form-control" type="text" placeholder="Enter Email" name="email" id="email" value="{{ data[3] }}" required>
            
                <label for="psw"><b>Password</b></label>
                <input class ="form-control" type="password" placeholder="Enter Password" name="psw" id="psw" value="{{ data[2] }}" required>
            
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input class ="form-control" type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" value="{{ data[2] }}" required>    
            </div>
            <div class="col">
                    {% if session['type'] == "Client" %}
                    <label for="dob"><b>Date of Birth</b></label>
                    <input class ="form-control" type="date" placeholder="Enter Date of Birth" name="dob" id="dob" value="{{ data[8] }}" disabled>
                {% endif %}
    
                <label for="street"><b>Street</b></label>
                <input class ="form-control" type="text" placeholder="Enter Street" name="street" id="street" value="{{ data[10] }}" required>
    
                <label for="city"><b>City</b></label>
                <input class ="form-control" type="text" placeholder="Enter City" name="city" id="city" value="{{ data[11] }}" required>
    
                <label for="pincode"><b>Pincode</b></label>
                <input class ="form-control" type="text" placeholder="Enter PinCode" name="pincode" id="pincode" value="{{ data[12] }}" required>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <button type="submit" class="registerbtn btn btn-primary">Update</button>
        </div>
    </div>
    </form>
{% endblock %}