{% extends 'base.html' %}
{% block content %}
<section>
    <div class = "container">   
        <div class = "row justify-content-center">
            <div class="col-md-5">
                <form action="/register" method="post">
                    {% if message %}
                        <br />
                        {% if color == "green" %}
                            <div class="alert alert-success" style="color:{{ color }}">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-danger" style="color:{{ color }}">{{ message }}</div>
                        {% endif %}
                    {% endif %}
                    <div class="container">
                        <h1>Register</h1>
                        <p>Please fill in this form to create an account.</p>
                        <hr>
                        <label class = "form-label" for="username"><b>Username</b></label>
                        <input class ="form-control" type="text" placeholder="Enter Username" name="username" id="username" value="{{ username }}" required>

                        <label class = "form-label" for="email"><b>Email</b></label>
                        <input class ="form-control" type="text" placeholder="Enter Email" name="email" id="email" value="{{ email }}" required>
                    
                        <label class = "form-label"for="psw"><b>Password</b></label>
                        <input class ="form-control" type="password" placeholder="Enter Password" name="psw" id="psw" required>
                    
                        <label class = "form-label" for="psw-repeat"><b>Repeat Password</b></label>
                        <input class ="form-control" type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                        <hr>

                        <label class = "form-label" for="dob"><b>Date of Birth</b></label>
                        <input class ="form-control" type="date" placeholder="Enter Date of Birth" name="dob" id="dob" value="{{ dob }}" required>
                        <hr>

                        <label class = "form-label" for="street"><b>Street</b></label>
                        <input class ="form-control" type="text" placeholder="Enter Street" name="street" id="street" value="{{ street }}" required>
                        <hr>

                        <label class = "form-label" for="city"><b>City</b></label>
                        <input class ="form-control" type="text" placeholder="Enter City" name="city" id="city" value="{{ city }}" required>
                        <hr>

                        <label class = "form-label" for="pincode"><b>Pincode</b></label>
                        <input class ="form-control" type="text" placeholder="Enter PinCode" name="pincode" id="pincode" value="{{ pincode }}" required>
                        <hr>
                        <div>
                            <button class ="btn btn-primary" type="submit" class="registerbtn">Register</button>
                        </div>
                    </div>
                    
                    <div class="container signin">
                        <p>Already have an account? <a href="/login">Sign in</a>.</p>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
